

html {
    font-family: Arial, sans-serif;
    margin: 20px;
    border: 9px solid #FFD700; 
    padding: 10px; 
    background-image: url('background 1 Small.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #3498db;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
    text-align: center;
}

li {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}


recipe-image {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

nav {
    float: left;
    width: 500px;
    padding: 10px;
    background-color: skyblue;
    border: 9px solid #FFD700;
}

main {
    margin-left: 20%;
    float: right;
    padding: 50px;
    background-color: skyblue;
    border: 9px solid #FFD700;
}

footer {
    text-align: right;
    font-style: italic;
    background-color: #ccccff;
    clear: both;
    border: 9px solid #FFD700;
}

wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: lightskyblue;
    border: 9px solid #FFD700;
}
